body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000 url("../img/body-bg.jpg") no-repeat center top;
}

.inner-page {
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*header*/
.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #242424;
}

.main-navigation .active {
  position: relative;
}

.main-navigation .active a:hover {
  background: none;
}

.main-navigation .active::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .logo-inner img {
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner:hover {
  background: none;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 16px;
  background: url("../img/spritesheet.png") no-repeat -14px -53px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}
/*end header*/

/*index*/
.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url("../img/line.png") no-repeat center,
  #f8f5f2 url("../img/pattern-white.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
  font-weight: normal;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}
/*end index*/

/*price*/
.inner-page-title {
  margin-bottom: 55px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 15px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs .current::after {
  display: none;
}

.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td {
  padding: 10px 15px;
  border: 2px solid #000000;
}

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.big-heading::after {
  content: '';
  position: relative;
  top: -25px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #000000;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

.custom-list-1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.prices-table {
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.short-text {
  padding-right: 80px;
}

.inner-columns {
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}
/*end price*/

/*catalog*/
.content-left {
  float: left;
  width: 220px;
}

fieldset {
  position: relative;
  border: none;
  margin-bottom: 35px;
}

legend {
  font-size: 24px;
  line-height: 34px;
}

.content-left input[type="checkbox"],
.content-left input[type="radio"] {
  display: none;
}

.content-left label {
  position: relative;
  display: block;
  padding: 10px;
  padding-left: 30px;
  cursor: pointer;
}

.content-left label:hover {
  color: #663d15;
}

.content-left label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.content-left label input[type="checkbox"]:checked + .checkbox-indicator::before,
.content-left label input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.content-left label input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.content-left label input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.content-left label .checkbox-indicator {
  margin-top: 13px;
}

.content-left label input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.content-left label input[type="radio"]:checked + .checkbox-indicator::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.content-right {
  float: right;
  width: 700px;
}

.content-main {
  font-size: 0;
}

.content-item {
  display: inline-block;
  width: 220px;
  min-height: 290px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  vertical-align: top;
  background-color: #ffffff;
  box-shadow: 0 0 15px #c0c0c0;
}

.content-item a.name {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000000;
}

.content-item a.name:hover {
  color: #663d15;
}

a.name .category {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

.content-item-price {
  padding: 15px;
  padding-top: 0;
}

.content-item-price span {
  display: inline-block;
  width: 110px;
  padding: 10px 0;
  text-align: center;
  vertical-align: top;
  background-color: #e5e5e5;
}

.content-item-price .btn {
  width: 80px;
  margin: 0;
  padding: 10px 0;
}

.content-item:nth-child(3n) {
  margin-right: 0;
}

.paginator {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.paginator li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 7px;
  font-size: 14px;
  vertical-align: top;
}

.paginator a {
  display: table-cell;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.paginator .active span {
  display: table-cell;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #ffffff;
}

.paginator a:hover {
  background-color: #663d15;
}
/*end catalog*/

/*catalog-item*/
.photo-gallery {
  float: left;
  width: 460px;
}

.photo-gallery-image {
  width: 460px;
  height: 500px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px #c0c0c0;
}

.photo-gallery-block {
  font-size: 0;
}

.photo-gallery-block img {
  margin-right: 20px;
  font-size: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 15px #c0c0c0;
  cursor: pointer;
}

.photo-gallery-block img:last-child {
  margin-right: 0;
}

.description {
  position: relative;
  float: right;
  width: 390px;
  margin-top: 25px;
}

.description-goods .article {
  position: absolute;
  right: 0;
  color: #aba9a7;
}

.description .price {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0;
}

.description .list-title {
  font-size: 24px;
  line-height: 34px;
}

.description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description li {
  position: relative;
  padding-left: 20px;
}

.description li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}
/*end catalog-item*/

/*footer*/
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/footer-bg.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/spritesheet.png") no-repeat center;
  transition:
    background-position 0.5s,
    background-color 0.5s;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: -5px -190px;
}

.social-btn-fb {
  background-position: -2px -68px;
}

.social-btn-inst {
  background-position: 1px -130px;
}

.social-btn-vk:hover {
  background-position: -5px -216px;
}

.social-btn-fb:hover {
  background-position: -2px -98px;
}

.social-btn-inst:hover {
  background-position: 1px -161px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}
/*end footer*/

/*Всплывающее окно*/
@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  z-index: 20;
  display: none;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  background: #e9e5dc url("../img/map.jpg");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 106% 101%;
}

.login-form input.icon-password {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 106% -1%;
}

.login-form .restore {
  float: right;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
