<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>3D-tags</title>
  <script src="/assets/3d-tags/tagcloud.min.js"></script>
  <link rel=stylesheet href=/assets/3d-tags/tagcloud.min.css>
</head>
<body>
  <div style="height: 150px; width: 350px;">
    <div class="tagcloud">
      {% for category in site.categories %}
      {% for post in category[1] %}
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div>
    <script>
      var tc = tagcloud();
    </script>
  </div>
</body>

</html>
