<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>3D-tags</title>
  <script src="/assets/3d-tags/tagcloud.min.js"></script>
  <link rel=stylesheet href=/assets/3d-tags/tagcloud.min.css>
</head>

<body>
  <div style="height: 400px; width: 400px;">
    <div class="tagcloud">
      <a href="1">tex123t1</a>
      <a href="2">tex2t</a>
      <a href="3">text3</a>
      <a href="4">tex4t</a>
      <a href="5">tex5t</a>
      <a href="6">te6xt</a>
      <a href="7">tex7t</a>
    </div>
  </div>
  <script>
    var tc = tagcloud();
  </script>
  </body>

</html>
