<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About 🎸</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      Hi I'm Nathan, Computer Science Major at UC Irvine graduating in June 2021. 
      I'm passionate in making tools that help others and contributing to the greater community. 
      When I'm not programming, I'm serving my church (remotely haha), playing guitar, going on hikes, or some weird combination of those three.
      
      <br>
      <br>
      <br>
      <hr>
</p>
