<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Addresses</h2>
<!-- <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Topics that I want to learn more about.</p> -->
<div class="d-flex flex-justify-between gutter-condensed mb-4 {% if site.style == 'dark' %}text-white{% endif %}">
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        Rome
        <p>via Ariosto, 25</p>
        <p>00185 - Italy</p>
        <p>room B221</p>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        Toronto
      </div>
</div>




<!-- <div class="flex-row flex-wrap gutter-condensed mb-4">
  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
  Ciao
  </div>
  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
  Cioa
  </div>
</div> -->
