<div class="mb-6">
  <h2>About Me</h2>
  <p>
    I am a Software Engineer who is passionate about learning and applying new technologies to
    solve a variety of problems. I work professionally on Microsoft's
    <a href="https://microsoft.github.io/code-with-engineering-playbook/CSE.html">Commercial Software Engineering (CSE)</a>
    team where I help solve the toughest technical challenges that companies are facing in the modern Cloud Computing landscape.
    Through this work, I have gained a wide range of experience as a Software Engineer.
  </p>
  <p>
    Additionally, I am part of the <a href="https://worldspinner.com">Worldspinner</a> team. We develop a variety of tools that empower
    gamers to build people, cultures, and worlds for their table top role playing games. Our most recent project is Portrait Workshop 
    (now with a <a href="https://www.kickstarter.com/projects/worldspinner/portrait-workshop/" target="_blank">kickstarter</a>).
  </p>
  <p>
    When I am not working with software, I enjoy gaming, cooking, skiing, speed cubing, and music. Most recently, I started learning Guitar. 
  </p>
</div>
