<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>文章分类--Ash在招聘</title>
  </head>
  <body>
    <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>所有文章</h2>
    <br/>
    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">关于Ash发布的所有文章</p>
    <div>
      {% for category in site.categories %}
        <h3>{{ category[0] }}</h3>
        <br/>
        <ul>
          {% for post in category[1] %}
            <h5><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h5>
            <br/>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </body>
</html>
