  <!doctype html>
<html lang="en">

<head>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="../CSS/custom.css" rel="stylesheet">
</head>

<body>
	
	<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>
		<div class="animate__animated animate__pulse">Courses I have taken
		</div>
	  </h2>
	  
	<div class="container text-center">
		<h1 class="display-4">Courses</h1>
		<div class="lead text-left">
			<p>
				I've completed my bachelors in software engineering at the University of Calgary and have moved
				on to a masters in neuroscience at Western University. I've transitioned into neuroscience
				because I want to learn more about the brain to build artificial general intelligence. More information
				about my motivation to switch fields can be found 
			</p>
		</div>
		<hr>

		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
							aria-controls="collapseOne">
							Bachelors in Software Engineering
						</button>
					</h5>
				</div>

				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<table class="table table-bordered table-hover">
							<thead>
								<tr class="academic_year">
									<th colspan="4" scope="colgroup">Year 1 (2015 - 2016)</th>
								</tr>
								<tr class="academic_semester">
									<th class="w-25" scope="col">FALL 2015</th>
									<th class="w-25" scope="col">WINTER 2016</th>
									<th class="w-25" scope="col">SPRING 2016</th>
									<th class="w-25" scope="col">SUMMER 2016</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td title="Engineering Design and Communication">ENGG 200</td>
									<td title="Behaviour of Liquids, Gases and Solids">ENGG 201</td>
									<td title="Engineering Economics">ENGG 209</td>
									<td title="Probability and Statistics for Engineers">ENGG 319</td>
								</tr>
								<tr>
									<td title="Computing for Engineers">ENGG 233</td>
									<td title="Engineering Statics">ENGG 202</td>
									<td title="Technology and Society">ENGG 481</td>
									<td title="Professional and Technical Communication">COMS 363</td>
								</tr>
								<tr>
									<td title="Linear Methods I">MATH 211</td>
									<td title="Fundamentals of Electrical Circuits and Machines">ENGG 225</td>
									<td title=""></td>
									<td title="Discrete Mathematics">MATH 271</td>
								</tr>
								<tr>
									<td title="Calculus for Engineers and Scientists">MATH 275</td>
									<td title="Multivariable Calculus for Engineers and Scientists">MATH 277</td>
									<td title=""></td>
									<td title=""></td>
								</tr>
								<tr>
									<td title="General Chemistry for Engineers">CHEM 209</td>
									<td title="Electricity and Magnetism (for students in Engineering)">PHYS 259</td>
									<td title=""></td>
									<td title=""></td>
								</tr>
							</tbody>
						</table>
						<table class="table table-bordered table-hover">
							<thead>
								<tr class="academic_year">
									<th colspan="4" scope="colgroup">Year 2 (2016 - 2017)</th>
								</tr>
								<tr class="academic_semester">
									<th class="w-25" scope="col">FALL 2016</th>
									<th class="w-25" scope="col">WINTER 2017</th>
									<th class="w-25" scope="col">SPRING 2017</th>
									<th class="w-25" scope="col">SUMMER 2017</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td title="Digital Circuits">ENEL 353</td>
									<td title="Signals and Transforms">ENEL 327</td>
									<td title="Principles of Operating Systems">CPSC 457</td>
									<td title=""></td>
								</tr>
								<tr>
									<td title="Programming Fundamentals">ENCM 339</td>
									<td title="	Computer Organization">ENCM 369</td>
									<td title="Data Base Management Systems">CPSC 471</td>
									<td title=""></td>
								</tr>
								<tr>
									<td title="Differential Equations for Engineers and Scientists">MATH 375</td>
									<td title="Data Structures, Algorithms, and Their Applications">CPSC 319</td>
									<td title="The Role and Responsibilities of the Professional Engineer in Society">
										ENGG 513</td>
									<td title=""></td>
								</tr>
								<tr>
									<td title="Acoustics, Optics and Modern Physics (for students in Engineering)">PHYS
										365</td>
									<td title="Principles of Software Development">ENSF 409</td>
									<td title=""></td>
									<td title=""></td>
								</tr>
								<tr>
									<td title=""></td>
									<td title="Logic I">PHIL 279</td>
									<td title=""></td>
									<td title=""></td>
								</tr>
							</tbody>
						</table>
						
						
					</div>
				</div>
			</div>

			<hr>
			<p class="text-center">
				<a href="#top" class="btn btn-outline-info">Back to Top</a>
			</p>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
		</script>
</body>

</html>