<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>
    <div class="animate__animated animate__pulse">Courses I have taken
    </div>
  </h2>
  <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Topics that I want to learn more about.</p>
  <div class="d-flex flex-wrap gutter-condensed mb-4">
    {% for topic in site.topics %}
      <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include topic-card.html %}
      </div>
    {% endfor %}
  </div>





  <!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="../CSS/custom.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="../Images/Favicon/favicon-32x32.png" sizes="32x32" />
	<title>Courses</title>
	<meta name="DESCRIPTION" content="These are the courses that Brian Pho has taken." />
	<meta name="KEYWORDS" content="Brian Pho, courses" />
</head>

<body>
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="index.html">
				<img src="../Images/Favicon/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top"
					alt="Brian Pho Favicon">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="courses.html">Courses
							<span class="sr-only">(current)</span>
						</a>
					</li>
				
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/CR4-DL">CR4-DL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Cadence">Cadence</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container text-center">
		<h1 class="display-4">Courses</h1>
		<div class="lead text-left">
			<p>
				I've completed my bachelors in software engineering at the University of Calgary and have moved
				on to a masters in neuroscience at Western University. I've transitioned into neuroscience
				because I want to learn more about the brain to build artificial general intelligence. More information
				about my motivation to switch fields can be found <a href="https://brianpho.com/CR4-DL/about/">
					here</a>. Hover over a course to see its title.
			</p>
		</div>
		<hr>

		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
							aria-controls="collapseOne">
							Bachelors in Software Engineering
						</button>
					</h5>
				</div>

				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<table class="table table-bordered table-hover">
							<thead>
								<tr class="academic_year">
									<th colspan="4" scope="colgroup">Year 1 (2015 - 2016)</th>
								</tr>
								<tr class="academic_semester">
									<th class="w-25" scope="col">FALL 2015</th>
									<th class="w-25" scope="col">WINTER 2016</th>
									<th class="w-25" scope="col">SPRING 2016</th>
									<th class="w-25" scope="col">SUMMER 2016</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td title="Engineering Design and Communication">ENGG 200</td>
									<td title="Behaviour of Liquids, Gases and Solids">ENGG 201</td>
									<td title="Engineering Economics">ENGG 209</td>
									<td title="Probability and Statistics for Engineers">ENGG 319</td>
								</tr>
								<tr>
									<td title="Computing for Engineers">ENGG 233</td>
									<td title="Engineering Statics">ENGG 202</td>
									<td title="Technology and Society">ENGG 481</td>
									<td title="Professional and Technical Communication">COMS 363</td>
								</tr>
								<tr>
									<td title="Linear Methods I">MATH 211</td>
									<td title="Fundamentals of Electrical Circuits and Machines">ENGG 225</td>
									<td title=""></td>
									<td title="Discrete Mathematics">MATH 271</td>
								</tr>
								<tr>
									<td title="Calculus for Engineers and Scientists">MATH 275</td>
									<td title="Multivariable Calculus for Engineers and Scientists">MATH 277</td>
									<td title=""></td>
									<td title=""></td>
								</tr>
								<tr>
									<td title="General Chemistry for Engineers">CHEM 209</td>
									<td title="Electricity and Magnetism (for students in Engineering)">PHYS 259</td>
									<td title=""></td>
									<td title=""></td>
								</tr>
							</tbody>
						</table>
						<table class="table table-bordered table-hover">
							<thead>
								<tr class="academic_year">
									<th colspan="4" scope="colgroup">Year 2 (2016 - 2017)</th>
								</tr>
								<tr class="academic_semester">
									<th class="w-25" scope="col">FALL 2016</th>
									<th class="w-25" scope="col">WINTER 2017</th>
									<th class="w-25" scope="col">SPRING 2017</th>
									<th class="w-25" scope="col">SUMMER 2017</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td title="Digital Circuits">ENEL 353</td>
									<td title="Signals and Transforms">ENEL 327</td>
									<td title="Principles of Operating Systems">CPSC 457</td>
									<td title=""></td>
								</tr>
								<tr>
									<td title="Programming Fundamentals">ENCM 339</td>
									<td title="	Computer Organization">ENCM 369</td>
									<td title="Data Base Management Systems">CPSC 471</td>
									<td title=""></td>
								</tr>
								<tr>
									<td title="Differential Equations for Engineers and Scientists">MATH 375</td>
									<td title="Data Structures, Algorithms, and Their Applications">CPSC 319</td>
									<td title="The Role and Responsibilities of the Professional Engineer in Society">
										ENGG 513</td>
									<td title=""></td>
								</tr>
								<tr>
									<td title="Acoustics, Optics and Modern Physics (for students in Engineering)">PHYS
										365</td>
									<td title="Principles of Software Development">ENSF 409</td>
									<td title=""></td>
									<td title=""></td>
								</tr>
								<tr>
									<td title=""></td>
									<td title="Logic I">PHIL 279</td>
									<td title=""></td>
									<td title=""></td>
								</tr>
							</tbody>
						</table>
						
						
					</div>
				</div>
			</div>

			<hr>
			<p class="text-center">
				<a href="#top" class="btn btn-outline-info">Back to Top</a>
			</p>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
		</script>
</body>

</html>