<footer class="g-footer">
  <section> Ash在招聘 ©
    {% assign current = "now" | date: "%Y" | plus: 0%}
    {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
    {% endunless %}
    {{ current }}
  </section>
  <section style="padding:10px;">
    <col>莫愁前路无知己，天下谁人不识君
    <col>
  </section>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span id="busuanzi_container_site_pv" style='display:none'>
    本站总访问量<span id="busuanzi_value_site_pv"></span>次
  </span>
  <span id="busuanzi_container_site_uv" style='display:none'>
    本站访客数<span id="busuanzi_value_site_uv"></span>人次
  </span>
  <span id="busuanzi_container_page_pv" style='display:none'>
    本文总阅读量<span id="busuanzi_value_page_pv"></span>次
  </span>

</footer>
