<footer class="g-footer">
  <section> Ash在招聘 ©
    {% assign current = "now" | date: "%Y" | plus: 0%}
    {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
    {% endunless %}
    {{ current }}
    <a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备18022675号-1</a>
  </section>
  <section style="padding:10px;">
    <col><b>毒鸡汤：</b><span id="sentence"></span>
    <button onclick="randomSentence()"><b>再来一碗</b></button>
    <col>
  </section>
  <script src="/assets/js/dujitang.js"></script>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span id="busuanzi_container_site_pv" style='display:none; color:gray;'>
    本站总访问量<span id="busuanzi_value_site_pv"></span>次
  </span>
  <!-- <span id="busuanzi_container_site_uv" style='display:none; color:gray;'>
    本站访客数<span id="busuanzi_value_site_uv"></span>人次
  </span> -->
  <span id="busuanzi_container_page_pv" style='display:none; color:gray;'>
    本文阅读量<span id="busuanzi_value_page_pv"></span>次
  </span>

</footer>
