<header class="site-header" role="banner">

  <div class="wrapper navigation-wrapper {% if site.institute_logo %}has-logo{% endif %}">

    <div class="navigation-links">
      {% include base.html %}

      <!-- <a class="site-title" href="{{ base }}/">{{ site.title | escape }}</a> -->
      <p class="site-title"> <b>{{ site.title | escape }}</b></p>

      <nav class="site-nav">
        <a href="#" class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
            <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
            <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
          </svg>
        </a>

        <div class="trigger">
          <a class="page-link {% if page.url == '/' %}active{% endif %}" href="{{ '/index.html' | prepend: base }}" >Home</a>
          {% assign sorted_pages = site.pages | sort:"order" %}
          {% for my_page in sorted_pages %}
            {% if my_page.title %}
            <a class="page-link {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | prepend: base }}" >{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>

    {% if site.institute_logo %}
      <div class="navigation-logo">
        {% if site.institute_url %}
        <a href="{{ site.institute_url | escape }}">
        {% endif %}
        <img src="{{ site.institute_logo | prepend: '/' | prepend: base }}" class="institute-logo" alt="{{ site.institute_name | escape }} logo"></img>
        {% if site.institute_url %}
        </a>
        {% endif %}
      </div>
    {% endif %}

  </div>

</header>
