{% assign navPages = site.pages | where:"navigation","true" | sort: "navigationOrder" %}

<nav class="UnderlineNav" style="border-width: 0px !important">
    <div class="UnderlineNav-body">
        <a href="/" role="tab" title="Home" class="UnderlineNav-item {% if page.url == '/' %}selected{% endif %}">Home</a>
        {% for p in navPages %}
            <a href="{{ p.url }}" role="tab" title="{{ p.title }}" class="UnderlineNav-item {% if page.url == p.url %}selected{% endif %}">{{ p.title }}</a>
        {% endfor %}
    </div>
</nav>
