<div class="github-component">
  <div class="topic-box position-relative hover-grow height-full text-center border border-gray-light rounded-1 bg-white p-5">
    <a href="/primer" class="no-underline d-flex flex-column flex-justify-center">
      <img src="https://avatars1.githubusercontent.com/u/7143434?s=200&amp;v=4" width="64" height="64" class="mx-auto rounded-1 mb-3" alt="primer logo">
        <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">
          Primer
        </p>
        <p class="f5 text-gray text-center mb-3 mt-1">Components and behaviors for building things on the Web, from GitHub.</p>
        <div class="v-align-middle text-gray">
          {% octicon location height:16 class:"mr-1 v-align-middle" aria-label:location %}
          <span>Planet Earth</span>
        </div>
        <div class="v-align-middle">
          {% octicon link height:16 class:"mr-1 v-align-middle" aria-label:link %}
          <p><a href="http://primer.github.io/">primer.github.io</a></p>
        </div>
    </a>
  </div>
</div>
