{% if repository.web_url %}
<div class="github-component height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1">
      <a href="{{ repository.web_url }}">
        {% octicon repo height:20 class:"mr-1 v-align-middle" fill:"#586069" aria-label:repo %}
        {{ repository.name }}
      </a>
    </h1>
  </div>
  <div class="text-gray mb-2 ws-normal">{{ repository.description }}</div>
</div>
{% endif %}
