{% if include.service == 'facebook' %}
  {% capture share_url %}
    https://www.facebook.com/sharer/sharer.php?u={{ include.permalink | prepend: site.url | prepend: site.baseurl | url_encode }}
  {% endcapture %}
{% elsif include.service == 'linkedin' %}
  {% capture share_url %}
    https://www.linkedin.com/shareArticle?mini=true&url={{ include.permalink | prepend: site.url | prepend: site.baseurl | url_encode }}&title={{ include.title | url_encode }}&source=LinkedIn
  {% endcapture %}
{% elsif include.service == 'twitter' %}
  {% capture share_url %}
    https://twitter.com/share?text={{ include.title | url_encode }}&url={{ include.permalink | prepend: site.url | prepend: site.baseurl | url_encode }}
  {% endcapture %}
{% endif %}{{ share_url | strip }}
