<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>文章分类</title>
  </head>
  <body>
    <div>
    <h2>文章分类</h2>
    {% for category in site.categories %}
      <h3>{{ category[0] }}</h3>
      <ul>
        {% for post in category[1] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  <hr />
  <div>
    <h2>文章标签</h2>
    {% for tag in site.tags %}
      <h3>{{ tag[0] }}</h3>
      <ul>
        {% for post in tag[1] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</body>
</html>
