---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}

h4 {
  margin-top: 20px !important;
}

h1 {
  font-family: timberline, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

h2, h3, h4 {
  font-family: trajan-sans-pro,sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

a > h1.mb-2 {
  color: black !important;
}

a:hover {
  text-decoration: none !important;
}

p.mb-3 {
  font-size: 11px !important;
}

@media print {
  div.col-md-5 {
    display: none !important;
  }
  div.col-md-7 {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  p {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  h3 {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }
  h4 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
  }
  a {
    color: black !important;
    text-decoration: none !important;
  }
}
