---
layout: page
title: GitHub Repositories
permalink: "/github/"
published: true

includeNavigation: true
navigation: true
navigationOrder: 1
---

{% assign repos = site.data.cameron.repos %}

<p class="f4 text-gray">An overview of my public GitHub repositories, sorted by recent activity.</p>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4 mt-6">

  {% if repos.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count,last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if repos.exclude.archived and repos.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif repos.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif repos.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% assign my_repos = filtered_repos | limit: repos.limit %}
  {% for repository in my_repos %}
    {% unless repos.exclude.projects contains repository.name %}
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
