{% include header.html %}

<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html metadata=true %}

  <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
    {{ content }}
  </div>
  <p>
    I swear I'm going to develop this portfolio someday.
  </p>
  <form action="https://formspree.io/guilherme.fabrin@gmail.com" method="POST">
    <div class="form-group">
      <label>Name: </label>
      <input class="form-control" type="text" name="name">
    </div>
    <div class="form-group">
      <label>E-mail: </label>
      <input class="form-control" type="email" name="_replyto">
    </div>
    <div class="form-group">
      <label>Message: </label>
      <textarea class="form-control" name="message"></textarea>
    </div>
    <input class="btn btn-default" type="submit" value="Send">
  </form>
</div>

{% include footer.html %}
