---
layout: root
---

<div class="bg-white">
  <div class="container-xl pt-6 p-responsive text-center">
    {% include masthead.html metadata=false %}
    {% if page.includeNavigation %}
      {% include navigation.html %}
    {% endif %}
  </div>
</div>

<div class="bg-gray-light border-top pb-6">
  <div class="container-xl f4 text-left p-3 p-sm-5 mt-6 m-responsive">
    {% if page.title %}
      <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
    {% endif %}

    {{ content }}

    <div class="text-center">
      {% include mastfoot.html %}
    </div>
  </div>
</div>