{% include header.html %}

<div class="container-lg py-6 p-responsive text-center">
  <img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;">
  <h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h1>
  <p class="col-lg-8 mx-auto mb-3 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    {{ user.bio }}
  </p>
  {% unless page.is_post %}
    <div class="f4 mb-6">
      {% if user.name %}
        <div class="d-md-inline-block mr-3">
          {% octicon mark-github height:20 class:"mr-1 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
          <a href="https://github.com/{{ user.login }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
            @{{ user.login }}
          </a>
        </div>
      {% endif %}
      {% if user.email %}
        <div class="d-md-inline-block mr-3">
          {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
          <a href="mailto:{{ user.email }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
            {{ user.email }}
          </a>
        </div>
      {% endif %}
      {% if user.location %}
        <div class="d-md-inline-block {% if site.style == 'dark' %}text-white{% endif %}">
          {% octicon location height:20 class:"mr-1 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
          {{ user.location }}
        </div>
      {% endif %}
    </div>
  {% endunless %}

  {% if page.is_post %}
    <div class="container-md f4 text-left border rounded-2 bg-white p-3 p-sm-5 mt-6">
      <p class="f5"><a href="/" class="d-flex flex-items-center">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:#0366d6 aria-label:Home %}Home</a></p>
      <h1 class="f00-light lh-condensed">{{ page.title }}</h1>
      <p class="mb-5">Published {{ page.date | date: "%b %d, %Y"}}</p>
      {{ content }}
    </div>
  {% else %}
    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      {{ content }}
    </div>
  {% endif %}

  {% unless page.is_post %}
    <div class="my-6">
      {% include projects.html %}
    </div>

    <div class="my-6">
      {% include interests.html %}
    </div>

    {% unless post_size == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}
  {% endunless %}
</div>



{% include footer.html %}
